/* css reset start */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset end */

/* css reset settings start */
img {
  max-width: 100%;
  height: auto;
}

*,*:before,*:after {
  box-sizing: border-box;
}
/* css reset settings end */

/* outline標示寬度和高度 start */
/* * {
  outline: 1px solid salmon;
} */
/* outline標示寬度和高度 end */

/* css layout start */

/* css layout end */

/* css styles start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
}
.sidebar {
  background: #486AE8;
  min-width: 142px;
  width: 10%;
  border-radius: 16px;
}
.content {
  border-radius: 0 16px 16px 0;
  width: 80%;
}

.sidebar .logo {
  display: block;
  width: 102px;
  height: 63px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
  margin: auto;
  margin-top: 39px;
  margin-bottom: 46px;
}

.border-line {
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  margin-bottom: 27px;
}

.sidebar-menu li {
  margin-bottom: 39px;
}

.sidebar-menu li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  border-radius: 16px;
}

.sidebar-menu li a:hover {
  background: #2A4AC2;
}

.sidebar-menu li .active {
  background: #2A4AC2;
}

.sidebar-menu .notify-icon {
  position: relative;
}

.sidebar-menu .notify-dot {
  position: absolute;
  top: -10px;
  right: -10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 43px;
  padding-left: 82px;
  padding-right: 87px;
}

.navbar h2 {
  font-size: 26px;
  color: #486AE8;
  line-height: 26px;
  vertical-align: middle;
}

.quick-search {
  position: relative;
}

.navbar .quick-search input {
  width: 311px;
  height: 49px;
  border-radius: 16px;
  box-shadow: 4px 4px 25px rgba(148, 148, 148, 0.25);
}

.navbar .quick-search input::placeholder {
  padding-left: 94px;
}

.navbar .quick-search img {
  position: absolute;
  right: 14px;
  top: 13px;
}

.nearby-stop {
  margin-left: 149px;
}

.nearby-stop h3 {
  font-size: 20px;
  line-height: 34px;
  color: #7D7D7D;
  margin-top: 53px;
  margin-bottom: 34px;
}

.distance ul {
  display: flex;
  margin-bottom: 26px;
}

.distance ul li {
  width: 50%;
}

.distance ul li a {
  display: block;
  text-align: center;
  background: #BFCDFF;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.distance ul li:nth-of-type(1) a {
  border-radius: 16px 0 0 0;
}

.distance ul li:nth-of-type(2) a {
  border-radius: 0 16px 0 0;
}

.distance ul li .active {
  background: #486AE8;
}

.stop-routes li {
  padding-left: 69px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.stop-routes li:nth-of-type(odd) {
  background: #F6F7FF;
}

.stop-routes li:nth-of-type(even) {
  background: #ECEEFF;
}

.stop-routes li h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #486AE8;
  font-weight: 700;
}

.stop-routes li p {
  color: #7D7D7D;
  font-weight: 500;
}
/* css styles end */

/* css loader start */
#loader {
  background-image: url('../images/css\ loader-pc.png');
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#myDiv {
  display: none;
}

@media (max-width: 414px) {
  #loader {
    background-image: url('../images/css\ loader-m.png');
  }
}
/* css loader end */